name: Train and Test Model

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train:
    name: Train Model
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
          cache: false

      - name: Run Dagger pipeline
        uses: dagger/dagger-for-github@v8.2.0
        with:
          workdir: .
          verb: run
          args: go run pipeline.go
          version: "0.19.6"

      - name: Upload final model
        uses: actions/upload-artifact@v4.4.0
        with:
          name: model
          path: models/model.pkl

  test:
    name: Test Model
    runs-on: ubuntu-latest
    needs: train

    steps:
      - name: Run Model Inference Test
        uses: lasselundstenjensen/itu-sdse-project-model-validator@main
